*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  width: 100%;
  outline-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neueu", sans-serif;
  color: #292929;
  letter-spacing: -0.025em;
}

p,
a,
span {
  font-size: 1.025rem;
  color: rgba(41, 41, 41, 0.83);
  font-family: "Helvetica Neueu", sans-serif;
  font-weight: 400;
  text-decoration: none;
}

a {
  color: #1877f2;
}

[v-cloak] {
  display: none;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  width: 100%;
  outline-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neueu", sans-serif;
  color: #292929;
  letter-spacing: -0.025em;
}

p,
a,
span {
  font-size: 1.025rem;
  color: rgba(41, 41, 41, 0.83);
  font-family: "Helvetica Neueu", sans-serif;
  font-weight: 400;
  text-decoration: none;
}

a {
  color: #1877f2;
}

[v-cloak] {
  display: none;
}

.field {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.field label {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
  color: #292929;
}

.field input {
  border: none;
  border-radius: 5px;
  background-color: #f3f3f3;
  padding: 19px 26px 19px 26px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
}

.field input::-webkit-input-placeholder {
  font-style: normal;
  color: rgba(41, 41, 41, 0.45);
}

.field input:-ms-input-placeholder {
  font-style: normal;
  color: rgba(41, 41, 41, 0.45);
}

.field input::-ms-input-placeholder {
  font-style: normal;
  color: rgba(41, 41, 41, 0.45);
}

.field input::placeholder {
  font-style: normal;
  color: rgba(41, 41, 41, 0.45);
}

.field input:focus {
  outline: 1px solid #292929;
}

.field input:valid {
  outline: 1px solid #292929;
}

.field input.error {
  outline: 1px solid #9a2828;
}

.field span.error {
  font-size: 90%;
  color: #9a2828;
  margin-top: 2px;
  margin-left: 2px;
}

.error-message {
  background-color: #9a2828;
  color: #f9f9f9;
  font-family: "Helvetica Neueu", sans-serif;
  width: 100%;
  text-align: center;
  font-size: 0.9rem;
  border-radius: 2px;
  margin-top: 10px;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 4%;
  padding-bottom: 4%;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  width: 100%;
  outline-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neueu", sans-serif;
  color: #292929;
  letter-spacing: -0.025em;
}

p,
a,
span {
  font-size: 1.025rem;
  color: rgba(41, 41, 41, 0.83);
  font-family: "Helvetica Neueu", sans-serif;
  font-weight: 400;
  text-decoration: none;
}

a {
  color: #1877f2;
}

[v-cloak] {
  display: none;
}

.btn {
  border: none;
  font-family: "SF Pro Display", sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
  letter-spacing: 0.2px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  z-index: 2;
}

.btn-lg {
  padding: 4%;
  border-radius: 5px;
}

.btn-md {
  padding: 3%;
  border-radius: 3px;
}

.btn-sm {
  padding: 2%;
  border-radius: 3px;
}

.btn-dark {
  background-color: #292929;
  color: #f9f9f9;
}

.btn-dark:hover {
  background-color: rgba(41, 41, 41, 0.9);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.btn-dark:active {
  background-color: rgba(41, 41, 41, 0.8);
}

.btn-light {
  background-color: #f9f9f9;
  color: #292929;
}

.social-btn {
  border-radius: 10px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  gap: 15px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  z-index: 2;
}

.social-btn:hover {
  cursor: pointer;
}

.social-btn span {
  font-family: "Roboto", sans-serif !important;
  font-weight: 600 !important;
  font-size: 1rem;
}

.social-btn.facebook {
  background-color: #1877f2;
}

.social-btn.facebook span {
  color: #f9f9f9;
}

.social-btn.facebook:hover {
  -webkit-filter: grayscale(0.4);
          filter: grayscale(0.4);
}

.social-btn.google {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
          box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
}

.social-btn.google span {
  color: rgba(0, 0, 0, 0.54);
}

.social-btn.google:hover {
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 10px rgba(0, 0, 0, 0.168);
          box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 10px rgba(0, 0, 0, 0.168);
}

.social-btn.apple {
  background-color: #000;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
          box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
}

.social-btn.apple span {
  color: #fff;
  font-weight: 500 !important;
}

.social-btn.apple:hover {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.084), 0px 2px 10px rgba(0, 0, 0, 0.168);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.084), 0px 2px 10px rgba(0, 0, 0, 0.168);
}

.social-btn.microsoft {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
          box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
  outline: 1px solid #292929;
}

.social-btn.microsoft span {
  color: rgba(0, 0, 0, 0.54);
}

.social-btn.microsoft:hover {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.084), 0px 2px 10px rgba(0, 0, 0, 0.168);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.084), 0px 2px 10px rgba(0, 0, 0, 0.168);
}

.social-btn.linkedin {
  background-color: #0077b5;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
          box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
}

.social-btn.linkedin span {
  color: #f9f9f9;
  font-weight: 700 !important;
  font-family: "Helvetica Neueu", sans-serif;
}

.social-btn.linkedin:hover {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.084), 0px 2px 10px rgba(0, 0, 0, 0.168);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.084), 0px 2px 10px rgba(0, 0, 0, 0.168);
}

body {
  background-color: #f9f9f9;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  position: fixed;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  padding-left: 20%;
  padding-right: 20%;
  background-color: #292929;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

nav h2 {
  font-size: 1.5rem;
  color: #f9f9f9;
  font-family: "SF Pro Display", sans-serif;
  letter-spacing: 1px;
}

nav .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

nav .items a {
  color: #fff;
  font-family: "SF Pro Display", sans-serif;
  font-weight: 400;
  letter-spacing: 0.8px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

nav .items a:hover {
  color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

nav .items a.active {
  color: #fff;
}

nav.lighten {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  background-color: rgba(41, 41, 41, 0.8);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}

main {
  padding-top: 150px;
  padding-bottom: 50px;
}

main .container {
  padding-left: 20.3%;
  padding-right: 20.3%;
}

main .container .greet {
  background-color: #292929;
  border-radius: 4px;
  text-align: center;
  font-weight: bolder;
  padding-top: 31px;
  padding-bottom: 31px;
}

main .container .greet h1 {
  font-size: 1.9rem;
  color: #fff !important;
  font-family: "SF Pro Display", sans-serif;
  letter-spacing: 0.9px;
}

main .container .list-of-users {
  margin-top: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 12px;
  grid-row-gap: 8px;
}

main .container .flat-card {
  background-color: #f0f0f0;
  padding-top: 47px;
  padding-bottom: 47px;
  padding-left: 36px;
  padding-right: 36px;
  color: #000 !important;
}

main .container .flat-card .user-info .username,
main .container .flat-card .user-info .full-name,
main .container .flat-card .user-info .date-joined {
  font-family: "SF Pro Display", sans-serif;
  font-weight: bold;
  letter-spacing: 0.5px;
}

main .container .flat-card .user-info .username {
  font-size: 0.9rem;
}

main .container .flat-card .user-info .full-name {
  font-size: 1.5rem;
}

main .container .flat-card .user-info .date-joined {
  font-size: 0.8rem;
  font-weight: lighter;
}

main .container .flat-card button {
  padding: 3%;
  border-radius: 5px;
  font-family: "SF Pro Display", sans-serif;
  letter-spacing: 0.8px;
  font-weight: 400;
  border: none;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  margin-top: 15px;
}

main .container .flat-card button.facebook {
  background-color: #1877f2;
  color: #fff;
}

main .container .flat-card button.google {
  background-color: #fff;
  color: #292929;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
          box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
}

main .container .flat-card button.linkedin {
  background-color: #0077b5;
  color: #f9f9f9;
}

main .container .flat-card button.apple {
  background-color: #000;
  color: #f9f9f9;
}

main .container .flat-card button.microsoft {
  background-color: #f9f9f9;
  color: #292929;
  outline: 1px solid #292929;
}

main .container .flat-card button.normal {
  background-color: #292929;
  color: #f9f9f9;
  cursor: default !important;
}

main .container .flat-card button:hover {
  -webkit-filter: grayscale(40%);
          filter: grayscale(40%);
  cursor: pointer;
}

main .container .flat-card button:active {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

main .container .card {
  background-color: #fff;
  border-radius: 9px;
  -webkit-box-shadow: 0px 12px 33px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 12px 33px rgba(0, 0, 0, 0.06);
  padding-top: 34px;
  padding-bottom: 34px;
  padding-left: 48px;
  padding-right: 48px;
}
/*# sourceMappingURL=home.css.map */